body{
    background-color: #47b39886;
   background-repeat: no-repeat;
   gap: 10px;
   z-index: -1;
}


table {
    
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Outfit', sans-serif;
    
}

th {

    background-color: #fffdfd86;
    border: 5px solid;
    color: black;

}
p{
    color: black;
}

td {
    border: black 3px solid;
   
}

